*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
}

.header{
    background-color: white;
    height: 100px;
}

#header-logo img{
    height: 100px;
    width: 100px;
    margin-left: 10px;
    float: left;
}

.navbar-brand span{
    font-style: italic;
    font-size: 16px;
}
#navlist a{
    margin-right: 5px;
}

#navList a:hover{
    background-color: lightgray;
    border-radius: 4px;
}

#phone div{
    padding-left: 40px;
    font-size: 0.8em;
    color: rgb(21, 70, 21);
}

.fa{
    text-align: center;
    display: block;
}

.call-btn{
    display: none;
}

.jumbotron{
    background: url("images/retaurant_image.jpg") no-repeat center;
    height: 600px;
}

#home-tile > div{
    height: 300px;
    border: 2px solid white;
}

#menu-tile{
    background: url("images/menu-tile-image.jpg");
}

@media (max-width: 988px) {
    .header{
        height: auto;
    }
    #header-logo{
      display: none;
    }
    .header-brand{
        top: 0;
    }

    #phone{
        display: none;
    }

    .fa{
        display: inline;
        margin-right: 5px;
    }

    .call-btn a{
        text-decoration: none;
        color: black;
        position: relative;
        left: 38%;

    }

    .call-btn{
        display: block;
        background-color: white;
        margin: 10px 16px;
        padding: 5px;
        border: 2px groove grey;
        border-radius: 5px;
        font-size: 1.7em;
    }

    .call-btn + div{
        color: white;
        position: relative;
        left: 43%;
        font-size: 18px;
    }

    .jumbotron{
        background: url("images/retaurant_image.jpg") no-repeat center;
        height: 400px;
    }
    
}
